<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Member" type='bit.spring4.buzbee.model.Member'/>
		<typeAlias alias="Board" type='bit.spring4.buzbee.model.Board'/>
		<typeAlias alias="MemberAndAuth" type='bit.spring4.buzbee.model.MemberAndAuth'/>
		<typeAlias alias="MemberAndBoard" type='bit.spring4.buzbee.model.MemberAndBoard'/>
		<typeAlias alias="TrendDTO" type='bit.spring4.buzbee.model.TrendDTO'/>
		<!-- append -->
	</typeAliases>
	<mappers>
		<mapper resource='mybatis/Member.xml'></mapper>
		<mapper resource='mybatis/Board.xml'></mapper>
		<!-- append -->
	</mappers>
</configuration>